




<!-- INCLUDING STYLES
================================================================================= -->

<!--<app-embedded-styles></app-embedded-styles>-->

<!--<app-linked-styles></app-linked-styles>-->





<!-- GLOBAL STYLES, NAMING CONVENTIONS, & ORGANIZATION
================================================================================= -->

<!--<app-traditional></app-traditional>-->

<!--<app-hybrid></app-hybrid>-->

<!--<app-encapsulated-bem></app-encapsulated-bem>-->

<!--<app-encapsulated-element></app-encapsulated-element>-->





<!-- COMPONENT THEMES: HOST CLASS
================================================================================= -->
<!--<div style="background: red; padding: 1em;">-->
  
  <!--<app-host-class class="layout--01 color--01"></app-host-class>-->

<!--</div>-->

<!--<app-host-class-parent-01 class="color--01"></app-host-class-parent-01>-->

<!--<app-host-class-parent-02 class="color--02"></app-host-class-parent-02>-->




<!-- COMPONENT THEMES: HOST CONTEXT
================================================================================= -->

<!--<app-host-context-parent-01 class="color--01"></app-host-context-parent-01>-->

<!--<app-host-context-parent-02 class="color--02"></app-host-context-parent-02>-->





<!-- COMPONENT THEMES: CUSTOM PROPERTIES
================================================================================= -->

<!--<app-generic></app-generic>-->

<!--<app-custom-properties class="layout--01"></app-custom-properties>-->

<!--<app-custom-properties-parent-01 class="color--01"></app-custom-properties-parent-01>-->

<!--<app-custom-properties-parent-02 class="color--02"></app-custom-properties-parent-02>-->
  