<ul class="component__items">
    <li 
        *ngFor="let item of items, let i = index"
        class="component__item">
        <div class="component__item__thumbnail">
            <img 
                src="/assets/images/{{item.image}}" 
                alt="{{item.title}}"
                class="component__item__image" />
        </div>
        <div class="component__item__content">
            <h3 
                class="
                    g-root__h3
                    component__item__title">
                {{item.title}}
            </h3> 
            <p 
                class="
                    g-root__paragraph
                    component__item__description">
                {{item.message}}
            </p> 
            <a class="component__item__button">Learn More</a> 
        </div>
    </li>
</ul>